* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.main-card {
  background-color: #f3eae3;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  width: 800px;
  background-color: #fff;
  border-radius: 0 10px 10px;
  display: flex;
}

.card-image {
  width: 50%;
  border-radius: 10px 0 0 10px;
}

.card-description {
  padding: 40px;
}

.card-description--category {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #c1c3c8;
}

.card-description--title {
  margin-bottom: 30px;
  font-size: 38px;
  font-family: "Fraunces", serif;
  line-height: 35px;
  color: #1c2328;
}

.card-description--text-description {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 22px;
  color: #c1c3c8;
}
